In [2]:
import datetime as dt
import yfinance as yf
import pandas as pd

In [9]:
stocks= ["AMZN","MSFT", "INTC", "GOOG", "INFY.NS", "3988.HK"]
start = dt.datetime.today()-datetime.timedelta(360)
end   = dt.datetime.today()

c1_price = pd.DataFrame() # empty dataframe which will be filled with closing prices
ohlcv_data = {}

In [10]:
# Looping over tickers and creating a dataframe with close prices
for ticker in stocks:
    c1_price[ticker] =  yf.download(ticker,start,end)["Adj Close"]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [11]:
c1_price

,AMZN,MSFT,INTC,GOOG,INFY.NS,3988.HK
Date,,,,,,
2020-04-27,2376.000000,172.299103,57.961086,1275.880005,648.705994,2.717239
2020-04-28,2314.080078,168.101730,57.259350,1233.670044,644.899292,2.745252
2020-04-29,2372.709961,175.645081,60.231964,1341.479980,660.370239,2.773265
2020-04-30,2474.000000,177.407196,58.458145,1348.660034,698.388733,NaN
2020-05-01,2286.040039,172.813858,56.011829,1320.609985,NaN,NaN
...,...,...,...,...,...,...
2021-04-15,3379.090088,259.500000,65.019997,2296.659912,1360.750000,3.060000
2021-04-16,3399.439941,260.739990,64.750000,2297.760010,1353.750000,3.080000
2021-04-19,3372.010010,258.739990,63.630001,2302.399902,1362.550049,3.110000
2021-04-20,3334.689941,258.260010,62.700001,2293.629883,1351.349976,3.140000
2021-04-21,3362.020020,260.579987,63.700001,2293.290039,NaN,3.110000

In [12]:
for ticker in stocks:
    ohlcv_data[ticker] =  yf.download(ticker,start,end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [13]:
ohlcv_data

{'AMZN':                    Open         High          Low        Close    Adj Close  \
 Date
 2020-04-27  2443.199951  2444.879883  2363.000000  2376.000000  2376.000000
 2020-04-28  2372.100098  2373.500000  2306.000000  2314.080078  2314.080078
 2020-04-29  2330.010010  2391.889893  2310.000000  2372.709961  2372.709961
 2020-04-30  2419.840088  2475.000000  2396.010010  2474.000000  2474.000000
 2020-05-01  2336.800049  2362.439941  2258.189941  2286.040039  2286.040039
 ...                 ...          ...          ...          ...          ...
 2021-04-15  3371.000000  3397.000000  3352.000000  3379.090088  3379.090088
 2021-04-16  3380.000000  3406.800049  3355.590088  3399.439941  3399.439941
 2021-04-19  3390.330078  3435.929932  3360.159912  3372.010010  3372.010010
 2021-04-20  3373.600098  3382.989990  3316.000000  3334.689941  3334.689941
 2021-04-21  3316.000000  3362.830078  3303.806152  3362.020020  3362.020020

              Volume
 Date
 2020-04-27  5645600
 2020-04-28  5269400
 2020-04-29  4591600
 2020-04-30  9534600
 2020-05-01  9772600
 ...             ...
 2021-04-15  3233600
 2021-04-16  3183300
 2021-04-19  2725400
 2021-04-20  2614900
 2021-04-21  2211166

 [249 rows x 6 columns],
 'MSFT':                   Open        High         Low       Close   Adj Close  \
 Date
 2020-04-27  176.589996  176.899994  173.300003  174.050003  172.299103
 2020-04-28  175.589996  175.669998  169.389999  169.809998  168.101730
 2020-04-29  173.220001  177.679993  171.880005  177.429993  175.645081
 2020-04-30  180.000000  180.399994  176.229996  179.210007  177.407196
 2020-05-01  175.800003  178.639999  174.009995  174.570007  172.813858
 ...                ...         ...         ...         ...         ...
 2021-04-15  257.929993  259.929993  257.730011  259.500000  259.500000
 2021-04-16  259.470001  261.000000  257.600006  260.739990  260.739990
 2021-04-19  260.190002  261.480011  257.820007  258.739990  258.739990
 2021-04-20  257.820007  260.200012  256.839996  258.260010  258.260010
 2021-04-21  258.940002  260.679993  257.250000  260.579987  260.579987

               Volume
 Date
 2020-04-27  33194400
 2020-04-28  34392700
 2020-04-29  51286600
 2020-04-30  53875900
 2020-05-01  39370500
 ...              ...
 2021-04-15  25627500
 2021-04-16  24856900
 2021-04-19  23209300
 2021-04-20  19712400
 2021-04-21  24030383

 [249 rows x 6 columns],
 'INTC':                  Open       High        Low      Close  Adj Close    Volume
 Date
 2020-04-27  59.720001  59.830002  58.389999  59.470001  57.961086  25902200
 2020-04-28  59.990002  60.220001  58.259998  58.750000  57.259350  28784700
 2020-04-29  59.439999  62.029999  59.320000  61.799999  60.231964  30451500
 2020-04-30  61.369999  61.540001  59.750000  59.980000  58.458145  26279900
 2020-05-01  58.830002  59.320000  57.310001  57.470001  56.011829  21194800
 ...               ...        ...        ...        ...        ...       ...
 2021-04-15  63.970001  65.220001  63.680000  65.019997  65.019997  24927700
 2021-04-16  65.330002  65.519997  64.570000  64.750000  64.750000  24607000
 2021-04-19  64.699997  64.739998  63.070000  63.630001  63.630001  23997700
 2021-04-20  63.639999  63.759998  62.410000  62.700001  62.700001  19867600
 2021-04-21  62.790001  63.770000  62.299999  63.700001  63.700001  24364209

 [249 rows x 6 columns],
 'GOOG':                    Open         High          Low        Close    Adj Close  \
 Date
 2020-04-27  1296.000000  1296.150024  1269.000000  1275.880005  1275.880005
 2020-04-28  1287.930054  1288.050049  1232.199951  1233.670044  1233.670044
 2020-04-29  1341.459961  1359.989990  1325.339966  1341.479980  1341.479980
 2020-04-30  1324.880005  1352.819946  1322.489990  1348.660034  1348.660034
 2020-05-01  1328.500000  1352.069946  1311.000000  1320.609985  1320.609985
 ...                 ...          ...          ...          ...          ...
 2021-04-15  2276.979980  2306.596924  2266.000000  2296.659912  2296.659912
 2021-04-16  2303.000000  2306.439941  2284.449951  2297.760010  2297.760010
 2021-04-19  2291.979980  2318.449951  2287.844971  2302.399902  2302.399902
 2021-04-20  2307.889893  2309.600098  2271.709961  2293.629883  2293.629883
 2021-04-21  2285.250000  2295.320068  2258.570068  2293.290039  2293.290039

              Volume
 Date
 2020-04-27  1600600
 2020-04-28  2951300
 2020-04-29  3793600
 2020-04-30  2668900
 2020-05-01  2072500
 ...             ...
 2021-04-15  1373600
 2021-04-16  1129800
 2021-04-19  1234400
 2021-04-20  1088100
 2021-04-21  1196731

 [249 rows x 6 columns],
 'INFY.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2020-04-27   661.049988   681.000000   661.049988   664.599976   648.705994
 2020-04-28   673.000000   677.000000   653.049988   660.700012   644.899292
 2020-04-29   666.000000   682.000000   658.000000   676.549988   660.370239
 2020-04-30   700.000000   720.000000   698.099976   715.500000   698.388733
 2020-05-04   689.799988   701.200012   670.349976   673.700012   657.588379
 ...                 ...          ...          ...          ...          ...
 2021-04-13  1433.000000  1435.250000  1375.000000  1397.150024  1397.150024
 2021-04-15  1332.300049  1366.400024  1320.000000  1360.750000  1360.750000
 2021-04-16  1365.000000  1370.849976  1346.599976  1353.750000  1353.750000
 2021-04-19  1340.000000  1379.699951  1332.349976  1362.550049  1362.550049
 2021-04-20  1379.000000  1379.000000  1342.400024  1351.349976  1351.349976

               Volume
 Date
 2020-04-27   7183306
 2020-04-28   7296571
 2020-04-29   8639056
 2020-04-30  16253821
 2020-05-04   9122740
 ...              ...
 2021-04-13  14855206
 2021-04-15  25342491
 2021-04-16  10879878
 2021-04-19  12508028
 2021-04-20   8560766

 [246 rows x 6 columns],
 '3988.HK':             Open  High   Low  Close  Adj Close     Volume
 Date
 2020-04-27  2.88  2.92  2.88   2.91   2.717239  289137061
 2020-04-28  2.91  2.96  2.90   2.94   2.745252  343282051
 2020-04-29  2.96  2.99  2.95   2.97   2.773265  214157984
 2020-05-04  2.85  2.89  2.85   2.87   2.679889  347693574
 2020-05-05  2.87  2.89  2.86   2.87   2.679889  212010421
 ...          ...   ...   ...    ...        ...        ...
 2021-04-15  3.08  3.08  3.05   3.06   3.060000  328582491
 2021-04-16  3.08  3.08  3.05   3.08   3.080000  338755927
 2021-04-19  3.08  3.13  3.06   3.11   3.110000  456626838
 2021-04-20  3.11  3.14  3.10   3.14   3.140000  342715216
 2021-04-21  3.11  3.14  3.11   3.11   3.110000  300110785

 [243 rows x 6 columns]}

In [14]:
ohlcv_data["MSFT"]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-04-27,176.589996,176.899994,173.300003,174.050003,172.299103,33194400
2020-04-28,175.589996,175.669998,169.389999,169.809998,168.101730,34392700
2020-04-29,173.220001,177.679993,171.880005,177.429993,175.645081,51286600
2020-04-30,180.000000,180.399994,176.229996,179.210007,177.407196,53875900
2020-05-01,175.800003,178.639999,174.009995,174.570007,172.813858,39370500
...,...,...,...,...,...,...
2021-04-15,257.929993,259.929993,257.730011,259.500000,259.500000,25627500
2021-04-16,259.470001,261.000000,257.600006,260.739990,260.739990,24856900
2021-04-19,260.190002,261.480011,257.820007,258.739990,258.739990,23209300
2021-04-20,257.820007,260.200012,256.839996,258.260010,258.260010,19712400
2021-04-21,258.940002,260.679993,257.250000,260.579987,260.579987,24030383

In [15]:
ohlcv_data["MSFT"]["Open"]

Date
2020-04-27    176.589996
2020-04-28    175.589996
2020-04-29    173.220001
2020-04-30    180.000000
2020-05-01    175.800003
                 ...
2021-04-15    257.929993
2021-04-16    259.470001
2021-04-19    260.190002
2021-04-20    257.820007
2021-04-21    258.940002
Name: Open, Length: 249, dtype: float64