In [1]:
import yfinance as yf

In [4]:
data = yf.download("MSFT", period="6mo")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-22,213.929993,216.059998,211.699997,214.889999,213.836365,22351500
2020-10-23,215.029999,216.279999,213.160004,216.229996,215.169800,18879600
2020-10-26,213.850006,216.339996,208.100006,210.080002,209.049957,37111600
2020-10-27,211.589996,214.669998,210.330002,213.250000,212.204422,36700300
2020-10-28,207.669998,208.839996,202.100006,202.679993,201.686234,51195600
...,...,...,...,...,...,...
2021-04-15,257.929993,259.929993,257.730011,259.500000,259.500000,25627500
2021-04-16,259.470001,261.000000,257.600006,260.739990,260.739990,24856900
2021-04-19,260.190002,261.480011,257.820007,258.739990,258.739990,23209300
2021-04-20,257.820007,260.200012,256.839996,258.260010,258.260010,19712400
2021-04-21,258.940002,260.679993,257.250000,260.579987,260.579987,24030383

In [5]:
data = yf.download("MSFT", start="2017-01-01", end="2020-04-24")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,62.790001,62.840000,62.130001,62.580002,58.538418,20694100
2017-01-04,62.480000,62.750000,62.119999,62.299999,58.276497,21340000
2017-01-05,62.189999,62.660000,62.029999,62.299999,58.276497,24876000
2017-01-06,62.299999,63.150002,62.040001,62.840000,58.781628,19922900
2017-01-09,62.759998,63.080002,62.540001,62.639999,58.594547,20382700
...,...,...,...,...,...,...
2020-04-17,179.500000,180.000000,175.869995,178.600006,176.803314,52765600
2020-04-20,176.630005,178.750000,174.990005,175.059998,173.298935,36669600
2020-04-21,173.500000,173.669998,166.110001,167.820007,166.131760,56203700
2020-04-22,171.389999,174.000000,170.820007,173.520004,171.774429,34651600
2020-04-23,174.110001,175.059998,170.910004,171.419998,169.695557,32790800

In [7]:
data = yf.download("MSFT", period="1mo", interval="5m")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-03-22 09:30:00-04:00,230.270004,232.250000,230.139999,232.125000,232.125000,1773092
2021-03-22 09:35:00-04:00,232.125000,232.600006,231.955002,232.410004,232.410004,524679
2021-03-22 09:40:00-04:00,232.283096,232.639999,232.229996,232.255005,232.255005,365198
2021-03-22 09:45:00-04:00,232.089996,232.679993,232.059998,232.660004,232.660004,337172
2021-03-22 09:50:00-04:00,232.714996,233.399994,232.714996,233.380005,233.380005,518092
...,...,...,...,...,...,...
2021-04-21 15:35:00-04:00,259.750000,259.929993,259.750000,259.859985,259.859985,241613
2021-04-21 15:40:00-04:00,259.869995,260.170013,259.779999,260.100006,260.100006,379803
2021-04-21 15:45:00-04:00,260.119995,260.339996,260.070007,260.269989,260.269989,320371
2021-04-21 15:50:00-04:00,260.279999,260.679993,260.149994,260.540009,260.540009,684113
2021-04-21 15:55:00-04:00,260.519989,260.670013,260.230011,260.619995,260.619995,1059076